<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z'Nyla Amor</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header class="header">
        <h1>Z'Nyla Amor</h1>

        <nav class="navbar">
            <a href="../z's.html">Home</a>
            <a href="https://znyla.github.io/Unit-Three/My%20Portifilo/actual%20resume.pdf" target="_blank_">Resume</a>
        </nav>
        <a href="mailto:znylaamorbean@gmail.com" target="_blank_" class="contact">Contact Me</a>
    </header>

    <h2>About Me:</h2>

    <img src="fullbody.jpeg" width="1000" height="1000" />

    <p>I am currently a student at the <a href="https://basecampcodingacademy.org">Base Camp Coding Academy (BCCA)</a>
        in Water Valley, MS. I enrolled at BCCA to further explore my passion for coding, film, and writing. My interest
        in coding began when I started creating interactive stories on an app called <a
            href="https://www.episodeinteractive.com">Episode</a>. As I grew older and gained more experience, I
        realized I wanted to combine my love for storytelling and film with technology.
        My goal is to become a VFX software developer or a virtual reality (VR) developer that allow me to bring
        playable stories to life through immersive, cutting-edge technology.
        In addition, I have a growing interest in artificial intelligence (AI), particularly as it continues to impact
        the creative industries. Rather than seeing AI as a replacement for human creativity, I am passionate about
        understanding how we can collaborate with AI to enhance our work. I aspire to become a responsible AI ethics
        specialist to deepen my understanding of ethical AI use and contribute to guiding my industry in integrating AI
        in thoughtful and responsible ways.</p>
</body>

</html>